<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.test.mapper.BoardMapper">

	<select id="selectBoardList" resultType="com.test.domain.BoardVO">
		SELECT
			BOARD_TYPE
			, BOARD_NUM
			, BOARD_TITLE
			, BOARD_COMMENT
			, CREATOR
			, CREATE_TIME
			, MODIFIER
			, MODIFIED_TIME
			, FILE_ROOT
		FROM BOARD
	</select>

	<insert id="createPosts" parameterType="com.test.domain.BoardVO">
		INSERT INTO BOARD (
			BOARD_TYPE
			, BOARD_NUM
			, BOARD_TITLE
			, BOARD_COMMENT
			, CREATOR
			, CREATE_TIME
			, FILE_ROOT
		) VALUES (
			#{boardType}
			, BOARD_SEQ.NEXTVAL
			, #{boardTitle}
			, #{boardComment}
			, #{creator}
			, TO_CHAR(sysdate, 'YYYY-MM-DD')
			, #{fileRoot}
		)	
	</insert>

</mapper>